body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    color: white;
    border-radius: 10px;
}

.container .image-holder img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover
}

.container .text-holder .name {
    color: white;
    font-weight: 700;
}

.container .text-holder .address {
    color: hsl(75, 94%, 57%);
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
}

.container .text-holder .subline {
    font-weight: 400;
}

/* .container .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.container .social-links .github {
    background-color: hsl(0, 0%, 20%);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.container .social-links .github a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.container .social-links .frontend-mentor {
    background-color: hsl(0, 0%, 20%);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    width: 100%; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.container .social-links .frontend-mentor a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.container .social-links .linkedin {
    background-color: hsl(0, 0%, 20%);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    width: 100%; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.container .social-links .linkedin a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.container .social-links .x {
    background-color: hsl(0, 0%, 20%);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    width: 100%; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.container .social-links .x a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.container .social-links .instagram {
    background-color: hsl(0, 0%, 20%);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    width: 100%; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.container .social-links .instagram a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.container .social-links .github:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.container .social-links .github:hover a {
    color: hsl(0, 0%, 8%);
}

.container .social-links .frontend-mentor:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.container .social-links .frontend-mentor:hover a {
    color: hsl(0, 0%, 8%);
}

.container .social-links .linkedin:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.container .social-links .linkedin:hover a {
    color: hsl(0, 0%, 8%);
}

.container .social-links .x:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.container .social-links .x:hover a {
    color: hsl(0, 0%, 8%);
}

.container .social-links .instagram:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.container .social-links .instagram:hover a {
    color: hsl(0, 0%, 8%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}